<?xml version="1.0"?>
<layout version="0.1.0">
  <adminhtml_sales_invoice_editinvoice>
  	<reference name="head">
            <action method="addJs"><script>efatt/vue.min.js</script></action>
            <action method="addJs"><script>efatt/validate.js</script></action> 
            <action method="addJs"><script>efatt/handlebars.min.js</script></action>        
        </reference>
	<reference name="content">
	  <block type="module/adminhtml_editinvoice" name="editinvoice" template="module/editinvoice.phtml"/>
	</reference>
  </adminhtml_sales_invoice_editinvoice>
</layout>
