<?xml version="1.0"?>
<config>
	  <sections>
		<efatt  translate="label" module="module">                    
		<label>Fattura Elettronica</label>
		<tab>sales</tab>
		<frontend_type>text</frontend_type>
		<sort_order>12</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>


				    <CedentePrestatore_DatiAnagrafici_IdFiscaleIVA translate="label"> 
					  <label>Cedente Prestatore - Dati Anagrafici - Id Fiscale IVA</label>
            <comment>Questi campi consentono l’inserimento della partita IVA per i soggetti residenti in Italia, oppure dell’identificativo fiscale assegnato dall’autorità del proprio paese per i soggetti non residenti.</comment>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                  <IdPaese translate="label">
                    <label>Id Paese</label>
                    <comment> Codice del paese assegnante l’identifcativo fiscale al soggetto cedente/prestatore (secondo lo standard ISO 3166-1 alpha-2 code).</comment>
			             <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                  </IdPaese>
                  <IdCodice translate="label">
                    <label>Id Codice</label>
                    <comment>numero di  identificazione fiscale del cedente/prestatore.</comment>
			             <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                  </IdCodice>  
                </fields>
             </CedentePrestatore_DatiAnagrafici_IdFiscaleIVA>


            <CedentePrestatore_DatiAnagrafici_Anagrafica translate="label">
              <label>Cedente Prestatore - Dati Anagrafici - Anagrafica</label>
              <frontend_type>text</frontend_type>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <fields>
                  <Denominazione translate="label">
                    <label>Denominazione</label>
                    <comment>ditta, denominazione o ragione sociale del cedente/prestatore del bene/servizio da valorizzare nei casi di persona non fisica; la valorizzazione di questo campo è in alternativa a quella dei campi Nome e Cognome seguenti.</comment>
			               <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                  </Denominazione> 
                  <Nome translate="label">
                    <label>Nome</label>
                    <comment>nome del cedente/prestatore del bene/servizio da valorizzare nei casi di persona fisica; la valorizzazione di questo campo presuppone anche la valorizzazione del campo Cognome  ed è in alternativa a quella del campo Denominazione</comment>
			              <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                  </Nome> 
                  <Cognome translate="label">
                    <label>Cognome</label>
                    <comment>cognome del cedente/prestatore del bene/servizio da valorizzare nei casi di persona fisica; la valorizzazione di questo campo presuppone anche la valorizzazione del campo Nome  ed è in alternativa a quella del campo Denominazione.</comment>
			              <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                  </Cognome> 
              </fields>
            </CedentePrestatore_DatiAnagrafici_Anagrafica>


            <CedentePrestatore_DatiAnagrafici translate="label">
              <label>Cedente Prestatore - Dati Anagrafici</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <fields>
                <RegimeFiscale translate="label">
							   <label>Regime Fiscale</label>
                 <comment>RF01: Regime ordinario; RF02: Regime dei contribuenti minimi; RF03: Regime delle nuove iniziative produttive; RF04: Agricoltura e attività connesse e pesca; RF05: Vendita sali e tabacchi; RF06: Commercio dei fiammiferi; RF07: Editoria; RF08: Gestione di servizi di telefonia pubblica; RF09: Rivendita di documenti di trasporto pubblico e di sosta; RF10: Intrattenimenti, giochi e altre attività; RF11: Agenzie di viaggi e turismo; RF12: Agriturismo; RF13: Vendite a domicilio; RF14: Rivendita di beni usati, di oggetti d'arte, d'antiquariato o da collezione; RF15: Agenzie di vendite all'asta di oggetti d'arte, antiquariato o da collezione; RF16: IVA per cassa P.A.; RF17: IVA per cassa; RF19: Regime forfettario; RF18: Altro</comment>
					        <frontend_type>select</frontend_type>
					        <source_model>efatt_module/system_config_source_regimefiscale</source_model>
					        <sort_order>0</sort_order>
					        <show_in_default>1</show_in_default>
                  </RegimeFiscale> 
              </fields>
            </CedentePrestatore_DatiAnagrafici>


              <CedentePrestatore_Sede  translate="label">
              <label>CedentePrestatore - Sede</label>
              <frontend_type>text</frontend_type>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <fields>           
						  <Indirizzo translate="label">
                  <label>Indirizzo</label>
                  <comment> Indirizzo della stabile organizzazione del cedente/prestatore del bene/servizio; deve essere valorizzato con il nome della via, piazza, etc., comprensivo del numero civico.</comment>
		             <frontend_type>text</frontend_type>
                  <sort_order>0</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </Indirizzo> 
                <CAP translate="label">
                  <label>CAP</label>
                  <comment>Codice di Avviamento Postale relativo all’indirizzo</comment>
		             <frontend_type>text</frontend_type>
                  <sort_order>1</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </CAP> 
                <Comune translate="label">
                  <label>Comune</label>
                  <comment>comune cui si riferisce l’indirizzo</comment>
		             <frontend_type>text</frontend_type>
                  <sort_order>2</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </Comune> 
                <Nazione translate="label">
                  <label>Nazione</label>
                  <comment> Codice della nazione espresso secondo lo standard ISO 3166-1 alpha-2 code.</comment>
		             <frontend_type>text</frontend_type>
                  <sort_order>3</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </Nazione> 
					   </fields>
					   </CedentePrestatore_Sede>


              <CedentePrestatore_StabileOrganizzazione  translate="label">
              <label>Cedente Prestatore - Stabile Organizzazione</label>
              <comment>I campi indicati di seguito devono essere obbligatoriamente valorizzati nei soli casi in cui il cedente/prestatore è un soggetto non residente ed effettua la transazione oggetto del documento tramite l’organizzazione residente sul territorio nazionale. Si riferiscono alla stabile organizzazione in Italia.</comment>
              <frontend_type>text</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <fields>           
              <Indirizzo translate="label">
                  <label>Indirizzo</label>
                  <comment>indirizzo della stabile organizzazione del cedente/prestatore del bene/servizio; deve essere valorizzato con il nome della via, piazza, etc., comprensivo del numero civico.</comment>
                 <frontend_type>text</frontend_type>
                  <sort_order>0</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </Indirizzo> 
                <CAP translate="label">
                  <label>CAP</label>
                  <comment>Codice di Avviamento Postale relativo all’indirizzo</comment>
                 <frontend_type>text</frontend_type>
                  <sort_order>1</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </CAP> 
                <Comune translate="label">
                  <label>Comune</label>
                  <comment>comune cui si riferisce l’indirizzo</comment>
                 <frontend_type>text</frontend_type>
                  <sort_order>2</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </Comune> 
                <Nazione translate="label">
                  <label>Nazione</label>
                  <comment> Codice della nazione espresso secondo lo standard ISO 3166-1 alpha-2 code.</comment>
                 <frontend_type>text</frontend_type>
                  <sort_order>3</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </Nazione> 
             </fields>
             </CedentePrestatore_StabileOrganizzazione>



					  <cedente_prestatore_rea translate="label"> 
					  <label>Iscrizione REA</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>10</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <ufficio translate="label">
                            <label>Ufficio</label>
                            <comment> Sigla della provincia ove ha sede l'Ufficio del Registro delle Imprese presso il quale è registrata la società.</comment>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </ufficio>
                          <numero_rea translate="label">
                            <label>Numero REA</label>
                            <comment> Numero di repertorio con il quale la società è iscritta nel Registro delle Imprese</comment>
							<frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </numero_rea>  
                          <capitale_sociale translate="label">
                            <label>Capitale Sociale</label>
							<frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </capitale_sociale> 
                          <capitale_sociale translate="label">
                            <label>Capitale Sociale</label>
                            <comment> Indica il capitale sociale quale somma effettivamente versata e quale risulta esistente dall’utlimo bilancio della società; questo campo è valorizzato nei soli casi di società di capitali (SpA, SApA, SRL).</comment>
							<frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </capitale_sociale> 
                          <socio_unico translate="label">
                            <label>Socio Unico</label>
                            <comment> Questo campo è valorizzato nei casi di società per azioni e a responsabilità limitata; indica se queste si compongono di un unico socio o di più soci.</comment>
							<frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                          </socio_unico>
                          <stato_liquidazione translate="label">
                            <label>Stato Liquidazione</label>
                            <comment> indica se la società si trova in stato di liquidazione oppure no.</comment>
							             <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                          </stato_liquidazione>
					   </fields>
					   </cedente_prestatore_rea>
				      <vettore translate="label"> 
					  <label>Anagrafica vettore</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>11</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <idpaese translate="label">
                            <label>IdPaese</label>
							<frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </idpaese>
                          <idcodice translate="label">
                            <label>IdCodice</label>
							<frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </idcodice>  
                          <denominazione translate="label">
                            <label>Denominazione</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </denominazione> 
					   </fields>
					   </vettore>
					</groups>
		</efatt>
	  </sections>
</config>
